<div>
  <mat-toolbar class="dialog-barra-titulo" mat-dialog-title>{{titulo}}</mat-toolbar>

  <form [formGroup]="form">
    <mat-card-content>
      <div class="dialog-controles-container">

        <mat-form-field>
          <mat-label>Nome Completo</mat-label>
          <input matInput type="text" formControlName="nomeCondutor" [(ngModel)]="condutor.nmCondutor "
            placeholder="Digite o Nome do Condutor" required>
          <mat-error>O Nome do Condutor é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field dir="auto">
          <mat-label>CPF</mat-label>
          <input matInput type="text" formControlName="cpfCondutor" [(ngModel)]="condutor.numeroCpf" kzMask="999.999.999-99"
          placeholder="Digite o CPF do Condutor" required >
          <mat-error>O CPF do Condutor é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>CNH</mat-label>
          <input matInput type="text"  formControlName="cnhCondutor" [(ngModel)]="condutor.numeroCnh"    mask="separator.2" thousandSeparator="." separatorLimit="99999999999"
          placeholder="Digite o CNH do Condutor" required >
          <mat-error>O CNH do Condutor é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fornecedor</mat-label>
          <mat-select formControlName="fornecedorCondutor" [(ngModel)]="condutor.cdFornecedor" matNativeControl required>
            <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.cdFornecedor">
              {{fornecedor.cdFornecedor}} - {{fornecedor.nmFantasia}}</mat-option>
          </mat-select>
          <mat-error>O Fornecedor é obrigatório.</mat-error>
        </mat-form-field>
        <br />
        <br />
        <mat-checkbox matInput formControlName="flag" [color]="" [(ngModel)]="condutor.flagAtivoBoolean">Condutor ativo
        </mat-checkbox>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
      <span class="fill-remaining-space"></span>
      <button mat-stroked-button mat-dialog-close="refresh" class="dialog-botao-ok" update (click)="salvar()"
        [disabled]="form.invalid">
        <i class="fa fa-check" aria-hidden="true"></i> Salvar
      </button>
      <button mat-stroked-button mat-dialog-close class="dialog-botao-cancel">
        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
      </button>
    </mat-dialog-actions>
  </form>
  <br />
  <div class="dialog-rodape"></div>
</div>
