<div>
  <mat-card>
    <mat-toolbar class="barra-titulo">
      <div class="button-row">
        <button mat-button class="botao-verde" matTooltip="Atualizar lista" (click)="ngOnInit()">
          <i class="fas fa-sync-alt"></i> Atualizar
        </button>
      </div>
      <span class="fill-remaining-space"></span>
      <mat-label>{{titulo}}</mat-label>
      <span class="fill-remaining-space"></span>
      <div class="button-row">
        <button mat-button class="botao-verde" matTooltip="Incluir Novo Condutor" (click)="onAdd()">
          <i class="fa fa-plus" aria-hidden="true"></i> Incluir
        </button>
      </div>
    </mat-toolbar>

    <mat-form-field>
      <mat-label>Busca <i class="fa fa-search" aria-hidden="true"></i></mat-label>
      <input matInput type="text" name="search"  [(ngModel)]="filter"  placeholder="Filtro" matTooltip="Realizar uma busca na lista">
    </mat-form-field>

    <table class="table table-hover table-striped table-sm  linha-lista">
      <thead>
        <tr>
          <th style="width:6px" class="label-tam" >id</th>
          <th style="width:40px" class="label-tam" [appSort]="equipamentoFilialRotas" data-order="desc" data-name="codigoEquipamento" matTooltip="Ordenar por Código">
            Código Equipamento <i class="fas fa-sort"></i>
          </th>
          <th style="width:40px" class="label-tam" [appSort]="equipamentoFilialRotas" data-order="desc" data-name="cdFilialRota" matTooltip="Ordenar por Código">
            Filial Rota <i class="fas fa-sort"></i>
          </th>
          <th style="width:60px" class="label-tam" [appSort]="equipamentoFilialRotas" data-order="desc" data-name="descricaoEmailFilialRota" matTooltip="Ordenar por Código">
            Email Danfe Verde <i class="fas fa-sort"></i>
          </th>
          <th style="width:100px" class="label-tam" [appSort]="equipamentoFilialRotas" data-order="desc" data-name="flagAtivoString" matTooltip="Ordenar por Código">
            Ativo <i class="fas fa-sort"></i>
          </th>
          <th style="width:40px; text-align: center;" class="label-tam">
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
        *ngFor="let equipamentoFilialRota of equipamentoFilialRotas | filter:filter | paginate: { itemsPerPage: contador, currentPage: paginaAtual }; let i = index;">
        <td style="width:6px">{{ equipamentoFilialRota.codigoEquipamentoFilialRota }}</td>
        <td style="width:30px">{{ equipamentoFilialRota.codigoEquipamento | number:'4.0' }}</td>
        <td style="width:100px">{{equipamentoFilialRota.cdFilialRota}} - {{ equipamentoFilialRota.descricaoFilialRota }}</td>
        <td style="width:60px">{{ equipamentoFilialRota.descricaoEmailFilialRota }}</td>
        <td style="width:20px">{{ equipamentoFilialRota.flagAtivoString }}</td>
        <td style="width:40px; text-align: center;">
          <a (click)="onEditar(equipamentoFilialRota.codigoEquipamentoFilialRota, i);">
            <span class="icon" refresh update matTooltip="Editar Email Danfe"><i class="fal fa-edit"></i></span></a>
          &nbsp;&nbsp;&nbsp;
          <a (click)="onRemove(equipamentoFilialRota.codigoEquipamentoFilialRota, i);">
            <span class="icon2" refresh update matTooltip="Excluir Email Danfe"><i class="fal fa-trash-alt"></i></span></a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="linha-lista2">
      <pagination-controls (pageChange)="paginaAtual = $event" previousLabel=" Anterior " nextLabel=" Próximo ">
      </pagination-controls>
    </div>

    <div class="loading-spinner">
      <mat-spinner *ngIf="equipamentoFilialRotaService.loading" [diameter]="60" ></mat-spinner>
    </div>
    <div class="tabela-rodape"></div>

  </mat-card>
</div>
