
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #5cb85c;
  background-color:#f4f7fa;
}

.card-login {
  background-color: white;
  width: 300px;
  height: 200px;
  left: 50%;
  margin: -60px 0 0 -110px;
  padding: 10px;
  position: absolute;
  top: 50%;
  color: #5cb85c;
  box-shadow: 0 .25rem .5rem #e6edef;
  border-radius: 5px;

  .card-head-login {
      text-align: center !important;
  }


}

.example-full-width {
  width: 100%;
}

.green-button {
  color:#5cb85c;

  text-align: center !important;
  margin-left: auto;
  float: right;
  margin: 10px;
}

.green-color {
  color: #5cb85c!important;
}

.hide {
  display: none;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: green !important;
}
